body {
    font-family: 'Arial, sans-serif';
    background-color: #ffcccb;
    color: #333;
    text-align: center;
    padding: 50px;
    margin: 0;
    position: relative;
    overflow: hidden;
}
h1 {
    color: #ff4d4d;
    margin-top: 100px;
    z-index: 2;
    position: relative;
}
.hearts {
    position: absolute;
    height: 100vh; /* 100% высоты экрана */
    width: 100vw; /* 100% ширины экрана */
    display: flex; /* Используем flex для центрирования анимации */
    justify-content: center; /* Центрируем по горизонтали */
    align-items: center; /* Центрируем по вертикали */
    top: 0;
    left: 0;
    z-index: 1;
    background: transparent;
    overflow: hidden;
}

.heart {
    position: absolute;
    width: 20px;
    height: 20px;
    background: red;
    transform: rotate(-45deg);
    animation: float 8s infinite;
    top: -50px; /* Начинаем за пределами верхней границы экрана */
}

.heart:before, .heart:after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 50%;
    
}

.heart:before {
    top: -10px;
    left: 0;
}

.heart:after {
    left: 10px;
    top: 0;
}

@keyframes float {
    0% {
        transform: translateY(0) rotate(-45deg);
        opacity: 1;
    }
    100% {
        transform: translateY(120vh) rotate(-45deg); /* Двигаемся вниз за пределы экрана */
        opacity: 0;
    }
}

h1, .buttons, #surprise {
    z-index: 2;
    position: relative;
}

.hello-kitty {
    position: absolute;
    top: 10px;
    left: 10px;
}

.hello-kitty img {
    width: 100px;
}